body{
    background-color: rgb(170, 218, 219);
}
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 45px;
}
.container{
    height: 900px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.photos{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
 
}

.photos:hover{
    cursor: pointer;
    height: 400px;
    width: 400px;
}
img:hover{
    height: 400px;
    width: 400px;
}